<html>
    <head>
        <center>ANKAY el blog mas completo de anime</center>
        <style type="text/css">
                       .azul { color:blue }
                       .rojo { color:red  }
        </style>
    </head>
    <body>
        <span class="rojo">este es el blog mas completo de anime donde podras realizar busquedas, como posteos</span>
        <br>ta es una línea, y a continuación insertamos un salto de línea.<br/>
        <p>Esto es un párrafo.</p>
        <p>creador y editor. Nicolas Amato.</p>
    </body>
</html>